@import "tailwindcss";

@theme {
  --color-navy: #0A1F44;
  --color-blue: #0A5CFF;
  --color-blue-dark: #0842C7;
  --color-indigo: #5B4FE9;
  --color-sky: #EAF1FF;
  --color-sky-line: #E1E9FB;
  --color-slate: #6B7690;
  --color-teal: #0FB59D;
  --color-amber: #FF9F43;

  --font-display: var(--font-sora);
  --font-body: var(--font-jakarta);
  --font-mono: var(--font-jetbrains-mono);
}